<form>
  <input type="text" placeholder="Title" name="title" ng-model="song.title">
  <input type="text" placeholder="Artist" name="artist" ng-model="song.artist">
  <input type="text" placeholder="Album Art URL" name="album" ng-model="song.album_art">
  <input type="text" placeholder="Audio URL" name="audio" ng-model="song.audio_url">
  <input type="text" placeholder="Genre" name="genre" ng-model="song.genre">
  <div ng-show="formType == 'edit'">
    <a data-ui-sref="songShow({id: song.id})">&larr; Back</a>
    <button ng-click="update()">Save</button>
  </div>
  <div ng-show="formType == 'new'">
    <button ng-click="create()">New Song</button>
  </div>
</form>
