<form>
  <input type="text" placeholder="Title" name="title" data-ng-model="song.title">
  <input type="text" placeholder="Artist" name="artist" data-ng-model="song.artist">
  <input type="text" placeholder="Album Art URL" name="album" data-ng-model="song.album_art">
  <input type="text" placeholder="Audio URL" name="audio" data-ng-model="song.audio_url">
  <input type="text" placeholder="Genre" name="genre" data-ng-model="song.genre">
  <button type="button" data-ng-if="!song.id" data-ng-click="create()">Create</button>
  <div data-ng-if="song.id">
    <button type="button" data-ng-click="update()">Update</button>
    <button type="button" data-ng-click="delete()">Delete</button>
  </div>
</form>
